.contact {
  display: flex;

  .picture {
    img {
      height: 100%;
      width: 100%;
    }
    width: 100px;
    height: 100px;
  }

  .details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .name {

    }

    .number {

    }
  }
}