attrdict==2.0.1
backports.functools-lru-cache==1.5
backports.shutil-get-terminal-size==1.0.0
bitarray==0.9.0
bluetool==0.2.3
cached-property==1.5.1
certifi==2019.3.9
chardet==3.0.4
Click==7.0
coloredlogs==10.0
dbus-python==1.2.8
decorator==4.4.0
dnspython==1.16.0
enum34==1.1.6
eventlet==0.25.1
Flask==1.0.2
Flask-SocketIO==4.2.1
gattlib==0.20150805
greenlet==0.4.15
humanfriendly==4.18
idna==2.8
ipdb==0.12
ipython==5.8.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
Jinja2==2.10.1
lru-cache==0.2.3
MarkupSafe==1.1.1
monotonic==1.5
ordereddict==1.1
pathlib2==2.3.3
pexpect==4.7.0
pickleshare==0.7.5
prompt-toolkit==1.0.16
ptyprocess==0.6.0
PyBluez==0.22
pycairo==1.18.1
Pygments==2.7.4
PyGObject==3.32.1
PyOBEX==0.27
python-dateutil==2.8.0
python-engineio==3.9.3
python-socketio==4.3.1
requests==2.21.0
scandir==1.10.0
simplegeneric==0.8.1
six==1.12.0
socketIO-client==0.7.2
tcpbridge==1.1.1
traitlets==4.3.2
urllib3==1.24.2
vobject==0.9.6.1
waiting==1.4.1
wcwidth==0.1.7
websocket-client==0.56.0
Werkzeug==0.15.2
